@font-face {
  font-family: 'Klavika Bold';
  src: url('../public/font/klavika-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Klavika Light';
  src: url('../public/font/klavika-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Klavika Medium';
  src: url('../public/font/klavika-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Klavika Regular';
  src: url('../public/font/klavika-regular-webfont.woff') format('woff');
}

// general
@import 'variables';
@import 'base';
@import 'layout';
//
// modules
@import 'modules/titles';
@import 'modules/texts';
@import 'modules/stepper';
@import 'modules/arrows';
//
//// sections
@import 'sections/loading';
@import 'sections/footer';
@import 'sections/contactInfo';
