//colors
$white: #ebede2;

//fonts
$klavika-bold: 'Klavika Bold', sans-serif;
$klavika-light: 'Klavika Light', sans-serif;
$klavika-medium: 'Klavika Medium', sans-serif;
$klavika-regular: 'Klavika Regular', sans-serif;
