%arrow {
  position: absolute;
  top: 47%;
  height: 46px;
  width: 46px;
  border: solid #ebede2;
  border-width: 3px 3px 0 0;
  cursor: pointer;
  transition: opacity 0.5s;
}

.arrow-right {
  @extend %arrow;
  right: 10px;
  transform: rotate(45deg);
}

.arrow-left {
  @extend %arrow;
  left: 10px;
  transform: rotate(225deg);
}