@import "../variables.scss";

%arrow {
  position: absolute;
  top: 47%;
  height: 46px;
  width: 46px;
  border: solid $white;
  border-width: 3px 3px 0 0;
  cursor: pointer;
  transition: opacity 0.5s;
}

.arrow-right {
  @extend %arrow;
  right: 10px;
  transform: rotate(45deg);
}

.arrow-left {
  @extend %arrow;
  left: 10px;
  transform: rotate(225deg);
}

@media (max-width: 767px) {
  %arrow {
    height: 23px;
    width: 23px;
    top: 42%;
  }
  .arrow-right {
    right: 5px;
  }
  .arrow-left {
    left: 5px;
  }
}


@media (max-height: 767px) {
  %arrow {
    height: 36px;
    width: 36px;
  }
}

@media (max-height: 350px) {
  %arrow {
    height: 23px;
    width: 23px;
  }
}