@import "../variables.scss";

%text {
  position: absolute;
  span {
    display: block;
  }
}

.intro-text {
  @extend %text;
  bottom: 128px;
}

.conclusive-text {
  @extend %text;
  right: 0;
  top: 45%;
  text-align: right;
  a {
    color: $white;
    text-decoration: underline;
  }
}

@media (max-width: 599px) {
  .intro-text {
    bottom: 85px;
  }
  .conclusive-text {
    width: 80%;
  }
}