@import '../variables.scss';

%title {
  position: absolute;
  display: block;
  opacity: 0;
  width: 522px;
  color: $white;
  font-family: $klavika-regular;
  font-weight: normal;
  text-transform: uppercase;
  transition: opacity 0.5s;
  span {
    border-bottom: 1px solid $white;
  }
}

.title-intro {
  @extend %title;
  padding-top: 45px;
}

.title-left {
  @extend %title;
  top: 44%;
  left: 50px;
}

.title-right {
  @extend %title;
  top: 44%;
  right: 50px;
  text-align: right;
}

.title-ending {
  @extend %title;
  padding-top: 45px;
  right: 0;
  text-align: right;
}

@media (min-width: 320px) and (max-width: 599px) {
  %title {
    font-size: 32px;
    left: 0;
    right: 0;
  }
  .title-left, .title-right {
    width: 88%;
    top: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .title-intro, .title-ending {
    width: 100%;
  }
}

